
body.pushable {
  background: white none repeat scroll 0 0 !important;
}

.centeredText {
  text-align: center !important;
}

.topMargin {
  margin-top: 5% !important;
}

.rightAligned {
  text-align: right;
}

div#logIn{
 padding-top:50%;
}

.bold {
  font-weight: bold !important;
}

.patronSearchSelection {
  float: right;
  position: fixed;
}

.clickable {
  cursor: pointer;
}

.paginationButtons {
  margin-top: 20px !important;
}

em {
    opacity: 0.7;
}

.selectable:hover {
  background-color: grey;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}