
<div class="ui centered grid topMargin">
  <div class="four wide column">
    <div class="ui form segment">
      <div class="field">
        <label>First Name</label>
        <input id="firstname" placeholder="First Name" type="text" data-bind="textInput: firstname"  autofocus="true" />
      </div>

      <div class="field">
        <label>Last Name</label>
        <input id="lastname" placeholder="Last Name" type="text" data-bind="textInput: lastname"  autofocus="true" />
      </div>

      <div class="field">
        <label>Email</label>
        <input id="email" placeholder="Email" type="text" data-bind="textInput: email"  autofocus="true" />
      </div>
      
      <div class="field">
        <label>Username</label>
        <input id="username" placeholder="Username" type="text" data-bind="textInput: username"  autofocus="true" />
      </div>

      <div class="field">
        <label>Password</label>
        <input id="password" placeholder="Password" type="text" data-bind="textInput: password" />
      </div>

      <div class="field">
        <label>Confirm Password</label>
        <input id="confirmPassword" placeholder="Confirm Password" type="text" data-bind="textInput: confirmPassword" />
      </div>

      <button type="button" class="ui inverted green button" data-bind="click: createVolunteer">Create Volunteer</button>
      <button type="button" class="ui inverted red button" data-bind="click: clearCredentials">Clear</button>
    </div>
  </div>
</div>
