

<div class="ui centered grid topMargin">
  <div class="nine wide column">
    <div class="ui form">
      <div class="six wide field">
        <label>Username</label>
        <input id="username" placeholder="Username" type="text" data-bind="textInput: username"  autofocus="true" />
      </div>

      <div class="six wide field">
        <label>Password</label>
        <input id="password" placeholder="Password" type="text" data-bind="textInput: password" />
      </div>

      <div class="six wide field">
        <label>Confirm Password</label>
        <input id="confirmPassword" placeholder="Confirm Password" type="text" data-bind="textInput: confirmPassword" />
      </div>

      <button type="button" class="ui inverted green button" data-bind="click: createVolunteer">Create Volunteer</button>
      <button type="button" class="ui inverted red button" data-bind="click: clearCredentials">Clear</button>
    </div>
  </div>
</div>
