
<div class="ui modal" id="editVolunteer" data-bind="with: targetVolunteer">
  <i class="close icon"></i>
  <div class="header" data-bind="text: fullName"></div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>First Name</label>
        <input id="firstname" placeholder="First Name" type="text" data-bind="textInput: firstName"  autofocus="true" />
      </div>
      <div class="field">
        <label>Last Name</label>
        <input id="lastname" placeholder="Last Name" type="text" data-bind="textInput: lastName"  autofocus="true" />
      </div>
      <div class="field">
        <label>Email</label>
        <input id="email" placeholder="Email" type="text" data-bind="textInput: email"  autofocus="true" />
      </div>
      <div class="field">
        <label>Username</label>
        <input id="username" placeholder="Username" type="text" data-bind="textInput: username"  autofocus="true" />
      </div>
      <div class="field">
        <label>Roles</label>
        <div data-bind="component: { name: 'multipleSearchSelection', params: { data: $parent.availableRoles, defaultValue: 'Roles', activeSelection: $parent.parseVolunteerRoles(roles) } }"></div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui negative button">Cancel</div>
    <div class="ui positive button" data-bind="click: $parent.modifyVolunteer">OK</div>
  </div>
</div>

<div class="ui centered grid topMargin">
  <div class="four wide column">
    <div class="ui equal width form segment">

      <div class="fields headers">
        <div class="field">
          <label>Username</label>
        </div>
        <div class="field">
          <label>First Name</label>
        </div>
        <div class="field">
          <label>Last Name</label>
        </div>
        <div class="field">
          <label>Actions</label>
        </div>
      </div>

      <div data-bind="foreach: volunteers">
        <div class="fields">
          <div class="field" data-bind="text: username"></div>
          <div class="field" data-bind="text: firstName"></div>
          <div class="field" data-bind="text: lastName"></div>
          <div class="field" data-bind="click: $parent.editVolunteer">
            <i class="clickable edit icon"></i>
          </div>
        </div>
      </div>

      <div class="paginationButtons ui small buttons">
        <div class="ui negative button"><</div>
        <div class="or" data-bind="attr: { 'data-text': pageNumber }"></div>
        <div class="ui positive button">></div>
      </div>

    </div>
  </div>
</div>
