
<div class="ui centered grid topMargin" data-bind="foreach: volunteers">
  <div class="row">
    <div class="six wide column">
      <span data-bind="text: username"></span>
    </div>
    <div class="column">
      <i class="edit icon" data-bind="click: $parent.editVolunteer"></i>
    </div>
  </div>
</div>

<div class="ui modal" id="editVolunteer" data-bind="with: targetVolunteer">
  <i class="close icon"></i>
  <div class="header" data-bind="text: username"></div>
  <div class="content">
    <div data-bind="component: { name: 'multipleSearchSelection', params: { data: $parent.availableRoles, defaultValue: 'Roles', activeSelection: $parent.parseVolunteerRoles(roles) } }"></div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button" data-bind="click: $parent.modifyVolunteer">OK</div>
  </div>
</div>
