
<div class="ui grid topMargin leftMargin">
  <div class="ten wide column">
    <div class="ui form">
      <div class="field">
        I want to report on
        <select class="ui serviceSelection dropdown">
          <option value="0">Select a Report Type</option>
          <option value="1">a patron</option>
          <option value="2">a service</option>
        </select>
      </div>

      <div class="patron" data-bind="visible: patronSectionVisible">
        <div class="field">
          <div data-bind="component: { name: 'multipleSearchSelection', params: { data: serviceTypes, defaultValue: 'Select Service(s)', activeSelection: serviceTypeSelections } }"></div>
        </div>
        <div class="three fields">
          <div class="field">
            <label>First Name</label>
            <input type="text" placeholder="First Name" data-bind="textInput: firstName" />
          </div>
          <div class="field">
            <label>Middle Name</label>
            <input type="text" placeholder="Middle Name" data-bind="textInput: middleName" />
          </div>
          <div class="field">
            <label>Last Name</label>
            <input type="text" placeholder="Last Name" data-bind="textInput: lastName" />
          </div>
          <div class="field">
            <label>Date of Birth</label>
            <input type="text" class="dateField" placeholder="01/01/1984" data-bind="textInput: dateOfBirth" />
          </div>
        </div>
      </div>

      <div class="service" data-bind="visible: serviceSectionVisible">
        <div class="field">
          <label class="ui header">Select Service(s)</label>
          <div data-bind="component: { name: 'multipleSearchSelection', params: { data: serviceTypes, defaultValue: 'Select Service(s)', activeSelection: serviceTypeSelections } }"></div>
        </div>
        <div class="field ui checkbox">
          <input type="checkbox" data-bind="checked: andSearch"/>
          <label>I only want Patrons who have used all these services</label>
        </div>
        <div class="field">
          <label>Zip</label>
          <input type="text" class="zipField" placeholder="XXXXX-XXXX" data-bind="textInput: zipCode" />
        </div>
        <div class="field">
          <label>Time Period</label>
          <select class="ui timePeriod dropdown">
            <option value="0">Today</option>
            <option value="1">Specific Date</option>
            <option value="2">Date Range</option>
            <option value="3">All Time</option>
          </select>
        </div>
        <div class="fields" data-bind="visible: canSelectTimePeriod">
          <div class="field">
            <label data-bind="text: firstDateFieldLabel"></label>
            <input type="text" class="dateField" data-bind="textInput: startDate" placeholder="XX/XX/XXXX" />
          </div>
          <div class="field">
            <label data-bind="text: secondDateFieldLabel"></label>
            <input type="text" class="dateField" data-bind="textInput: endDate, visible: timePeriodSelectIsDateRange" placeholder="XX/XX/XXXX" />
          </div>
        </div>
      </div>

      <div class="field halfTopMargin">
        <button class="ui inverted green button" data-bind="click: generateReport, visible: !hasReport()">Generate Report</button>
        <a class="ui inverted blue button" data-bind="visible: hasReport" id="downloadReport" download="report.csv">Download Report</a>
        <button class="ui inverted red button" data-bind="click: clear">Clear</button>
      </div>
    </div>
  </div>

  <div class="reportingPatronSearch" data-bind="visible: foundPatrons().length > 0 && patronSectionVisible() && search()">
    <div class="ui form segment" data-bind="foreach: foundPatrons">
      <div class="clickable ui fields" data-bind="click: $root.fillPatron">
        <div class="field" data-bind="text: firstName"></div>
        <div class="field" data-bind="text: middleName"></div>
        <div class="field" data-bind="text: lastName"></div>
        <div class="field" data-bind="text: dateOfBirth"></div>
      </div>
    </div>
  </div>
</div>
