<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title data-bind="text: pageTitle"></title>
    <link rel="stylesheet" type="text/css" href="Static/bower_components/semantic/dist/semantic.css" />
    <link rel="stylesheet" type="text/css" href="Static/assets/css/app.css" />
</head>
<body>

    <div id="menu" class="ui sidebar vertical menu"></div>

    <div class="ui large top fixed secondary menu">
        <a class="view-ui item" id="menuOpener">
            <i class="sidebar icon"></i> Menu
        </a>
    </div>

    <div id="renderArea" class="pusher"></div>

    <div id="partials" style="display: none;"></div>

    <div id="footer" style="display: none;"></div>

    <script src="Static/bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="Static/bower_components/knockout/dist/knockout.js" type="text/javascript"></script>
    <script src="Static/bower_components/semantic/dist/semantic.js" type="text/javascript"></script>
    <script src="Static/bower_components/cookies-js/dist/cookies.js" type="text/javascript"></script>
    <script src="Static/bower_components/moment/moment.js" type="text/javascript"></script>
    <script src="Static/bower_components/jquery-mask-plugin/dist/jquery.mask.js" type="text/javascript"></script>

    <!-- Utilities -->
    <script src="Static/assets/js/router.js"></script>
    <script src="Static/assets/js/utility.js"></script>
    <script src="Static/assets/js/jsonExport.js"></script>

    <!-- Static/viewModels -->
    <script src="Static/viewModels/appViewModel.js"></script>
    <script src="Static/viewModels/createVolunteerViewModel.js"></script>
    <script src="Static/viewModels/manageVolunteersViewModel.js"></script>
    <script src="Static/viewModels/loginViewModel.js"></script>
    <script src="Static/viewModels/reportingViewModel.js"></script>
    <script src="Static/viewModels/patronCheckInViewModel.js"></script>

    <!-- Controllers -->
    <script src="Static/controllers/appController.js"></script>

    <!-- Custom Knockout Components -->
    <script src="Static/assets/js/koComponents/multipleSearchSelection.js"></script>
    <script src="Static/assets/js/koComponents/emergencyContacts.js"></script>
    <script src="Static/assets/js/koComponents/phoneNumbers.js"></script>
    <script src="Static/assets/js/koComponents/addresses.js"></script>
</body>
</html>
