
<div class="topMargin ui centered grid">
  <div class="four wide column">
    <div id="logIn">
      <div class="ui form segment">
        <div class="field">
          <h2 class="ui blue header">
            Login
          </h2>
        </div>
        <div class="field">
          <div class="ui left icon input user">
            <input id="username" placeholder="Username" type="text" data-bind="textInput: username, enterKey: login" id="username" autofocus="true" />
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input lock">
            <input id="password" placeholder="Password" type="text" data-bind="textInput: password, enterKey: login" id="password" />
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="rightAligned field">
          <button type="button" class="ui inverted green button" data-bind="click: login">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
