
<div class="ui centered grid">
  <div class="centered row topMargin">
    <div class="column centeredText">
      <h2 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        Welcome to Community Health Outreach, please choose an option below!
      </h2>
    </div>
  </div>

  <div class="four column centered row">
    <div class="column centeredText">
      <a href="http://www.chojax.org">
        <img class="ui centered image" src="http://placehold.it/200x150" />
        <div>I am a patron</div>
      </a>
    </div>
    <div class="column centeredText">
      <a href="#Login">
        <img class="ui small centered image" src="./assets/img/volunteer.png" />
        <div>I am a volunteer</div>
      </a>
    </div>
  </div>
</div>
