
<div class="ui centered grid">
    <div class="nine wide column">
        <div class="ui blue attached massive message">
            <div class="header">
                Patron Check-In
            </div>
        </div>
        <div class="ui form attached fluid segment">

            <div class="ui right aligned category search field">
                <h4 class="ui dividing header">Search Patron</h4>
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search Patron">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>

            <!-- Service Selection-->
            <div class="field">
                <h4 class="ui dividing header">Service Selection*</h4>
                <select class="ui dropdown">
                    <option value="">Reason for Visit</option>
                    <option value="1">Medical</option>
                    <option value="2">Dental</option>
                    <option value="3">Baby Luv</option>
                    <option value="4">Lord's Pantry</option>
                </select>
            </div>

            <h4 class="ui dividing header">Patron Information</h4>
            <!-- Patron Name-->
            <div class="three fields">
                <div class="field">
                    <label>First name*</label>
                    <input type="text" placeholder="First Name" data-bind="textInput: firstName" />
                </div>
                <div class="field">
                    <label>Middle name <em>(Optional)</em></label>
                    <input type="text" placeholder="Middle Name" data-bind="textInput: middleName" />
                </div>
                <div class="field">
                    <label>Last name*</label>
                    <input type="text" placeholder="Last Name" data-bind="textInput: lastName">
                </div>
            </div>
            <!--date of birth-->
            <div class="date field">
                <label>DateofBirth*</label>
                <input type="date" placeholder="mm/dd/yyyy" data-bind="date: dateofBirth">
            </div>
            <!--Gender & Ethnicity fields -->
            <div class="two fields">
                <div class="field">
                    <label>Gender*</label>
                    <select class="ui dropdown" data-bind="value: gender">
                        <option value="">Gender</option>
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                    </select>

                </div>
                <div class="field">
                    <label>Ethnicity*</label>
                    <select class="ui dropdown" data-bind="value: gender">
                        <option value="">Ethnicity</option>
                        <option value="5">American Indian or Alaska Native</option>
                        <option value="4">Asian</option>
                        <option value="3">Black or African American</option>
                        <option value="2">Hispanic or Latino</option>
                        <option value="1">Native Hawaiian or Other Pacfic Islander</option>
                        <option value="0">White</option>
                    </select>
                </div>
            </div>

            <!--Marital Status-->
            <div class="field">
                <label>Marital Status*</label>
                <select class="ui dropdown" data-bind="value: maritalStatus">
                    <option value="">Marital Status</option>
                    <option value="4">Single</option>
                    <option value="3">Married</option>
                    <option value="2">Seprated</option>
                    <option value="1">Divorced</option>
                    <option value="0">Widowed</option>
                </select>
            </div>

            <!--Adress & Postal code-->
            <h4 class="ui dividing header">Address*</h4>
            <div class="field">
                <div class="field">
                    <input type="text" placeholder="Street Address" data-bind="textInput: streetAdress" />
                </div>
            </div>
            <!-- Apartment number & Postal Code-->
            <div class="two fields">
                <div class="field">
                    <input type="text" placeholder="Apt #" data-bind="textInput: apartmentNumber" />
                </div>
                <div class="field">
                    <input type="text" placeholder="Postal Code" data-bind="textInput: postalCode" />
                </div>
            </div>
            <!-- Apartment number & Postal Code-->
            <!--Household occupants-->
            <div class="field">
                <input type="number" placeholder="Houshold Occupants" data-bind="number: householdOccupants" />
            </div>
            <!--Houshold occupants-->

            <h4 class="ui dividing header">Service Eligibility</h4>
            <!--Service Status-->
            <div class="field">
                <label>Service Status*</label>
                <select class="ui dropdown" data-bind="value: serviceStatus">
                    <option value="">Service Status</option>
                    <option value="1">Approved</option>
                    <option value="0">Banned</option>
                </select>
            </div>

            <!--Veteran Status-->
            <div class="span fields">
                <div class="field">
                    <div class="ui checkbox" data-bind="checked: veteranStatus">
                        <input type="checkbox" name="credentials">
                        <label>Is a Veteran</label>
                    </div>
                </div>

                <!--Medical Insurance Status-->
                <div class="field">
                    <div class="ui checkbox" data-bind="checked: insuranceStatus">
                        <input type="checkbox" name="credentials">
                        <label>Has Medical Insurance</label>
                    </div>
                </div>
            </div>

            <!--Services Eligible For-->
            <div class="field">
                <div class="ui checkbox" data-bind="checked: neccessaryPaperwork">
                    <input type="checkbox" name="credentials">
                    <label>Has necessary paperwork to recieve services</label>
                </div>
            </div>

            <div class"field">
                <em>* Indicates required field</em>
            </div>

            <div class="rightAligned field">
                <button onclick="$('.ui.modal').modal('show');" class="ui blue submit button">Submit</button>
            </div>
            <!--modal-->
           <!-- 
               <div class="ui small basic modal">
                <i class="close icon"></i>
                <div class="header">
                    Patron Check In
                </div>
                <div class="description">
                    <div class="left">
                        <p>Are you sure you want to check in this Patron?</p>
                    </div>
                </div>
                <div class="actions">
                    <button class="ui negative button">Yes</button>
                    <button class="ui positive button">No</button>
                </div>
            </div>
            <!--alert should pop up stating the patron is checked in-->
       <!-- </div>-->

    </div>

    <div class="patronSearchSelection" data-bind="visible: foundPatrons().length > 0">
        <div class="ui form segment" data-bind="foreach: foundPatrons">
            <div class="ui fields">
                <div class="field" data-bind="text: firstName"></div>
                <div class="field" data-bind="text: lastName"></div>
                <div class="field" data-bind="text: dateOfBirth"></div>
            </div>
        </div>
    </div>
