
<div class="ui grid topMargin leftMargin">
  <div class="ten wide column">
    <div class="ui blue attached massive message">
      <div class="header">Patron Check-In</div>
    </div>
    <div class="ui form segment" id="patronCheckInForm">
      <div class="field serviceSelection" data-bind="if: app.services().length > 1, value: serviceSelection">
        <h4 class="ui dividing header">Service Selection</h4>
        <select class="serviceSelection ui dropdown" data-bind="value: serviceSelection">
          <option value="">Reason for Visit</option>
          <!-- ko foreach: app.services -->
          <option data-bind="text: $data.name, attr: { value: $data.id }"></option>
          <!-- /ko -->
        </select>
      </div>
      <h4 class="ui dividing header noTopMargin">Patron Information</h4>
      <div class="three fields">
        <div class="field firstName">
          <label>First Name</label>
          <input type="text" placeholder="First Name" data-bind="textInput: firstName"/>
        </div>
        <div class="field middleName">
          <label>Middle Name</label>
          <input type="text" placeholder="Middle Name" data-bind="textInput: middleName"/>
        </div>
        <div class="field lastName">
          <label>Last Name</label>
          <input type="text" placeholder="Last Name" data-bind="textInput: lastName">
        </div>
      </div>
      <div class="date field dateOfBirth">
        <label>Date Of Birth</label>
        <input type="text" class="dateField" placeholder="MM/DD/YYYY" data-bind="textInput: dateOfBirth">
      </div>
      <div class="two fields">
        <div class="field genderID">
          <label>Gender</label>
          <select class="ui dropdown" data-bind="value: genderID">
            <option value="">Gender</option>
            <!-- ko foreach: app.enums.genders -->
            <option data-bind="text: $data.name, attr: { value: $data.id }"></option>
            <!-- /ko -->
          </select>

        </div>
        <div class="field ethnicityID">
          <label>Ethnicity</label>
          <select id="ethnicity" class="ui dropdown" data-bind="value: ethnicityID">
            <option value="">Ethnicity</option>
            <!-- ko foreach: app.enums.ethnicities -->
            <option data-bind="text: $data.name, attr: { value: $data.id }"></option>
            <!-- /ko -->
          </select>
        </div>
      </div>
      <div class="field maritalStatusID">
        <label>Marital Status</label>
        <select class="ui dropdown" data-bind="value: maritalStatusID">
          <option value="">Marital Status</option>
          <!-- ko foreach: app.enums.maritalStatuses -->
          <option data-bind="text: $data.name, attr: { value: $data.id }"></option>
          <!-- /ko -->
        </select>
      </div>
      <div class="field residenceStatusID">
        <label>Residence Status</label>
        <select class="ui dropdown" data-bind="value: residenceStatusID">
          <option value="">Residence Status</option>
          <!-- ko foreach: app.enums.residenceStatuses -->
          <option data-bind="text: $data.name, attr: { value: $data.id }"></option>
          <!-- /ko -->
        </select>
      </div>
      <h4 class="ui dividing header">Addresses</h4>
      <div data-bind="component: { name: 'addresses', params: { data: addresses } }"></div>
      <h4 class="ui dividing header">Phone Numbers</h4>
      <div data-bind="component: { name: 'phoneNumbers', params: { data: phoneNumbers } }"></div>
      <h4 class="ui dividing header">Emergency Contacts</h4>
      <div data-bind="component: { name: 'emergencyContacts', params: { data: emergencyContacts } }"></div>

      <h4 class="ui dividing header">Household Occupants</h4>
      <div class="two fields">
        <div class="field householdOccupants">
        <label>Total Occupants</label>
          <input type="number" min="1" data-bind="textInput: householdOccupants"/>
        </div>
        <div class="field minorHouseholdOccupants">
          <label>Under 18</label>
          <input type="number" min="0" data-bind="textInput: minorHouseholdOccupants"/>
        </div>
      </div>
      <h4 class="ui dividing header">Service Eligibility</h4>
      <div class="fields">
        <div class="field banned">
          <label>Banned</label>
          <div class="ui checkbox">
            <input type="checkbox" data-bind="checked: banned">
            <label>Banned</label>
          </div>
        </div>
        <div class="field disabledPatron">
          <label>Disabled</label>
          <div class="ui checkbox">
            <input type="checkbox" data-bind="checked: disabledPatron">
            <label>Disabled</label>
          </div>
        </div>
        <div class="field veteran">
          <label>Veteran Status</label>
          <div class="ui checkbox">
            <input type="checkbox" data-bind="checked: veteran">
            <label>Veteran</label>
          </div>
        </div>
        <div class="field neccessaryPaperwork">
          <label>Correct Paperwork Provided</label>
          <div class="ui checkbox">
            <input type="checkbox" data-bind="checked: neccessaryPaperwork">
            <label>Eligible</label>
          </div>
        </div>
      </div>
      <button class="ui blue submit button" data-bind="click: showCheckInModal">Submit</button>
      <button class="ui negative button" data-bind="click: clear">Clear</button>
    </div>
  </div>

  <div class="ui small basic modal patronCheckIn">
    <i class="close icon"></i>
    <div class="header">
      Patron Check In
    </div>
    <div class="description">
      <div class="left">
        <p>Are you sure you want to check in this Patron?</p>
      </div>
    </div>
    <div class="actions">
      <button class="ui negative button" data-bind="click: checkIn">Yes</button>
      <button class="ui positive button">No</button>
    </div>
  </div>

  <div class="patronSearchSelection" data-bind="visible: foundPatrons().length > 0 && search()">
    <div class="ui form segment" data-bind="foreach: foundPatrons">
      <div class="clickable ui fields" data-bind="click: $root.fillPatron">
        <div class="field" data-bind="text: firstName"></div>
        <div class="field" data-bind="text: lastName"></div>
        <div class="field" data-bind="text: dateOfBirth"></div>
        <div class="field" data-bind="text: $root.parseAddress(addresses)"></div>
      </div>
    </div>
  </div>
</div>
