
<div class="ui centered grid topMargin">
  <div class="nine wide column">
    <div class="ui blue attached massive message">
      <div class="header">Patron Check-In</div>
    </div>
    <div class="ui form segment">
    <!-- Service Selection-->
       <div class="field" data-bind="if: app.services().length > 1">
          <h4 class="ui dividing header">Service Selection</h4>
          <select class="serviceSelection ui dropdown" data-bind="value: serviceSelection">
            <option value="">Reason for Visit</option>
            <!-- ko foreach: app.enums.services -->
              <option data-bind="text: $data.name, attr: { value: $data.id }"></option>
            <!-- /ko -->
          </select>
      </div>
    <!-- Patron Name-->
    <h4 class="ui dividing header">Patron Information</h4>
      <div class="three fields">
        <div class="field">
          <label>First Name</label>
          <input type="text" placeholder="First Name" data-bind="textInput: firstName"/>
        </div>
        <div class="field">
          <label>Middle Name</label>
          <input type="text" placeholder="Middle Name" data-bind="textInput: middleName"/>
        </div>
        <div class="field">
          <label>Last Name</label>
          <input type="text" placeholder="Last Name" data-bind="textInput: lastName">
        </div>
      </div>
      <div class="date field">
        <label>Date Of Birth</label>
        <input type="date" placeholder="MM/DD/YYYY" data-bind="date: dateofBirth">
      </div>
      <!--Gender & Ethnicity fields -->
      <div class="two fields">
        <div class="field">
          <label>Gender</label>
          <select class="ui dropdown" data-bind="value: gender">
            <option value="">Gender</option>
            <!-- ko foreach: app.enums.genders -->
              <option data-bind="text: $data.name, attr: { value: $data.id }"></option>
            <!-- /ko -->
          </select>

        </div>
        <div class="field">
          <label>Race</label>
          <select class="ui dropdown" data-bind="value: gender">
            <option value="">Race</option>
            <!-- ko foreach: app.enums.races -->
              <option data-bind="text: $data.name, attr: { value: $data.id }"></option>
            <!-- /ko -->
          </select>
        </div>
      </div>
      <div class="field">
        <label> Marital Status</label>
        <select class="ui dropdown" data-bind="value: maritalStatus">
          <option value="">Marital Status</option>
          <!-- ko foreach: app.enums.maritalStatuses -->
            <option data-bind="text: $data.name, attr: { value: $data.id }"></option>
          <!-- /ko -->
        </select>
      </div>
      <!--Adress & Postal code-->
      <h4 class="ui dividing header">Address</h4>
      <div class="field">
        <div class="field">
          <input type="text" placeholder="Street Address" data-bind="textInput: streetAddress" />
        </div>
      </div>
      <!-- Apartment number & Postal Code-->
      <div class="two fields">
        <div class="field">
          <input type="text" placeholder="Apt #"  data-bind="textInput: apartmentNumber"/>
        </div>
        <div class="field">
          <input type="text" placeholder="Postal Code" data-bind="textInput: postalCode" />
        </div>
      </div>
      <!-- Apartment number & Postal Code-->
      <!--Household occupants-->
      <div class="field">
        <input type="number" placeholder="Houshold Occupants" data-bind="number: householdOccupants"/>
      </div>
      <!--Houshold occupants-->
      <h4 class="ui dividing header">Service Eligibility</h4>
      <!--Service Status-->
      <div class="field">
        <label>Service Status</label>
        <select class="ui dropdown" data-bind="value: serviceStatus">
          <option value="">Service Status</option>
          <option value="Approved">Approved</option>
          <option value="Banned">Banned</option>
        </select>
      </div>
      <!--Veteran Status-->
      <div class="grouped fields">
        <label> Veteran Status</label>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" data-bind="checked: veteranStatus">
            <label>Veteran</label>
          </div>
        </div>
      </div>
      <hr>
      <!--Services Eligible For-->
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" data-bind="checked: neccessaryPaperwork">
          <label>Has necessary paperwork to recieve services</label>
        </div>
      </div>
      <button class="ui blue submit button" data-bind="click: showCheckInModal">Submit</button>
      <button class="ui negative button" data-bind="click: clear">Clear</button>
    </div>
  </div>

<div class="ui small basic modal">
  <i class="close icon"></i>
  <div class="header">
    Patron Check In
  </div>
  <div class="description">
    <div class="left">
      <p>Are you sure you want to check in this Patron?</p>
    </div>
  </div>
  <div class="actions">
    <button class="ui negative button" data-bind="click: checkIn">Yes</button>
    <button class="ui positive button">No</button>
  </div>
</div>

<div class="patronSearchSelection" data-bind="visible: foundPatrons().length > 0">
  <div class="ui form segment" data-bind="foreach: foundPatrons">
    <div class="ui fields">
      <div class="field" data-bind="text: firstName"></div>
      <div class="field" data-bind="text: lastName"></div>
      <div class="field" data-bind="text: dateOfBirth"></div>
      <div class="field" data-bind="text: addresses[0].streetAddress"></div>
    </div>
  </div>
</div>
